html {
    scroll-behavior: smooth;
    outline: none;
}

.carousel{
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    anchor-name: --carousel;
}

.carousel::scroll-button(*){
    width: 50px;
    height: 50px;
    background-color: green;
    color: white;
    font-size: x-large;
    font-weight: 900;
    cursor: pointer;
    position: fixed;
    position-anchor: --carousel;
    border-radius: 50%;
    border: none;
    transition: transform 0.1s ease;
}

.carousel::scroll-button(right){
    content: ">";
    translate: -50%;
    position-area: right center;
}

.carousel::scroll-button(left){
    content: "<";
    translate: 50%;
    position-area: left center;
}

.carousel::scroll-button(*):active {
    transform: scale(0.85);
}

.carousel::scroll-button(*):disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.background {
  position: absolute;
  inset: 0;
  overflow: hidden;
}

.blob {
  background: linear-gradient(135deg, #7b61ff, #00d4ff);
  clip-path: polygon(30% 0%, 70% 10%, 100% 50%, 80% 100%, 20% 90%, 0% 50%);
  filter: blur(120px);
  opacity: 0.7;
}